<{includeq file='db:smarttask_header.html'}>

<{if $smarttask_items}>
	<h1><{$smarty.const._MD_SMARTTASK_LISTS}></h1>
	
	<div><{$smarttask_items}></div>
<{/if}>

<{if $smarttask_item_view}>
	<{$smarttask_item_view}>
	<br />
	<h1><{$smarty.const._MD_SMARTTASK_ITEM_LOGS}></h1>
	<{$smarttask_item_logs}>
	
<{/if}>

<{if $smarttask_item}>
	<{includeq file='db:smartobject_form.html' form=$smarttask_item}>
<{/if}>

<{if $smartobject_delete_confirm}>
	<{$smartobject_delete_confirm}>
<{/if}>

<{includeq file='db:smarttask_footer.html'}>